# IntelliJ IDEA project files
.idea/
*.iml

# Java build output
out/
build/
target/
*.class

# Build tools
.gradle/

# IDEs
.classpath
.project
.settings/
.factorypath
.apt_generated/
bin/

.vscode/

# Operating-system files and logs
.DS_Store
Thumbs.db
*.log